@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&display=swap');

body {
    background-color: #fbfbf9; 
}

header {
    display: flex;
    align-items: center;
    padding: 15px 50px 0px 50px;
    font-family: 'Cormorant', serif;
}

h1 {
    display: inline-block;
    font-size: 2.2rem; 
    font-weight: normal;
}

nav {
  display: flex;
  align-items: center; /* This will vertically center everything in nav */
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0; /* Reset default margin */
  padding-left: 35px; /* Reset default padding */
}

nav li {
  font-size: 1.2rem;
}

nav li:first-child {
   position: relative;
   display: inline-block; /* Needed to size the pseudo-element */
}
  
nav li:first-child::after {
   content: '';
   display: block;
   width: 100%;
   height: 2px; /* Thickness of the underline */
   background-color: currentColor; /* Matches the color of the text */
   position: absolute;
   bottom: -5px; /* Adjusts the position of the underline */
   left: 0;
}
  
nav a {
  /* Aligns the icon with the list items */
  display: flex;
  align-items: center; /* Center the icon vertically */
  text-decoration: none; /* Optional: Removes underline from the link */
}

.fab.fa-linkedin-in {
    font-size: 1rem; /* Smaller size, adjust as needed */
    color: black; /* Makes the icon black */
    margin-left: 880px;
  }


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* two columns */
    grid-template-rows: 510px 510px 510px; /* three rows */
    grid-gap: 70px 90px; /* space between columns and rows */
    margin: 70px 50px 50px 50px;
}

.grid-item {
    display: grid;
    grid-template-rows: 90% 10%; /* 90% for image, 10% for text */
    font-family: 'Cormorant', serif;
    font-size: 1.2rem;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    height: 350px; 
    width: 650px;
    align-items: center;
    padding: 15px 50px 0px 50px;
    font-family: 'Cormorant', serif;
    font-size: 2.2rem; 
    color: black;
}

.description a {
    text-decoration-thickness: 1.5px;
    text-underline-offset: 7px;
}

